*node_modules/*
*node_modules/*
sayjel/coding_train/12_1/node_modules/@types/component-emitter/index.d.ts
sayjel/coding_train/12_1/node_modules/@types/component-emitter/LICENSE
sayjel/coding_train/12_1/node_modules/@types/component-emitter/package.json
sayjel/coding_train/12_1/node_modules/@types/component-emitter/README.md
sayjel/coding_train/12_1/node_modules/@types/cookie/index.d.ts
sayjel/coding_train/12_1/node_modules/@types/cookie/LICENSE
sayjel/coding_train/12_1/node_modules/@types/cookie/package.json
sayjel/coding_train/12_1/node_modules/@types/cookie/README.md
sayjel/coding_train/12_1/node_modules/@types/cors/index.d.ts
sayjel/coding_train/12_1/node_modules/@types/cors/LICENSE
sayjel/coding_train/12_1/node_modules/@types/cors/package.json
sayjel/coding_train/12_1/node_modules/@types/cors/README.md
sayjel/coding_train/12_1/node_modules/@types/node/assert.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/assert/strict.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/async_hooks.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/buffer.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/child_process.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/cluster.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/console.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/constants.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/crypto.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/dgram.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/diagnostics_channel.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/dns.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/dns/promises.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/domain.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/events.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/fs.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/fs/promises.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/globals.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/globals.global.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/http.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/http2.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/https.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/index.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/inspector.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/LICENSE
sayjel/coding_train/12_1/node_modules/@types/node/module.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/net.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/os.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/package.json
sayjel/coding_train/12_1/node_modules/@types/node/path.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/perf_hooks.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/process.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/punycode.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/querystring.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/readline.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/README.md
sayjel/coding_train/12_1/node_modules/@types/node/repl.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/stream.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/stream/consumers.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/stream/promises.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/stream/web.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/string_decoder.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/test.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/timers.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/timers/promises.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/tls.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/trace_events.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/tty.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/url.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/util.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/v8.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/vm.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/wasi.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/worker_threads.d.ts
sayjel/coding_train/12_1/node_modules/@types/node/zlib.d.ts
sayjel/coding_train/12_1/node_modules/base64id/CHANGELOG.md
sayjel/coding_train/12_1/node_modules/base64id/lib/base64id.js
sayjel/coding_train/12_1/node_modules/base64id/LICENSE
sayjel/coding_train/12_1/node_modules/base64id/package.json
sayjel/coding_train/12_1/node_modules/base64id/README.md
sayjel/coding_train/12_1/node_modules/component-emitter/History.md
sayjel/coding_train/12_1/node_modules/component-emitter/index.js
sayjel/coding_train/12_1/node_modules/component-emitter/LICENSE
sayjel/coding_train/12_1/node_modules/component-emitter/package.json
sayjel/coding_train/12_1/node_modules/component-emitter/Readme.md
sayjel/coding_train/12_1/node_modules/cors/CONTRIBUTING.md
sayjel/coding_train/12_1/node_modules/cors/HISTORY.md
sayjel/coding_train/12_1/node_modules/cors/lib/index.js
sayjel/coding_train/12_1/node_modules/cors/LICENSE
sayjel/coding_train/12_1/node_modules/cors/package.json
sayjel/coding_train/12_1/node_modules/cors/README.md
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/cjs/commons.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/cjs/contrib/base64-arraybuffer.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/cjs/decodePacket.browser.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/cjs/decodePacket.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/cjs/encodePacket.browser.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/cjs/encodePacket.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/cjs/index.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/cjs/package.json
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/commons.d.ts
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/commons.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/contrib/base64-arraybuffer.d.ts
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/contrib/base64-arraybuffer.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/decodePacket.browser.d.ts
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/decodePacket.browser.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/decodePacket.d.ts
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/decodePacket.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/encodePacket.browser.d.ts
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/encodePacket.browser.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/encodePacket.d.ts
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/encodePacket.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/index.d.ts
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/index.js
sayjel/coding_train/12_1/node_modules/engine.io-parser/build/esm/package.json
sayjel/coding_train/12_1/node_modules/engine.io-parser/LICENSE
sayjel/coding_train/12_1/node_modules/engine.io-parser/package.json
sayjel/coding_train/12_1/node_modules/engine.io-parser/Readme.md
sayjel/coding_train/12_1/node_modules/engine.io/build/engine.io.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/engine.io.js
sayjel/coding_train/12_1/node_modules/engine.io/build/parser-v3/index.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/parser-v3/index.js
sayjel/coding_train/12_1/node_modules/engine.io/build/parser-v3/utf8.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/parser-v3/utf8.js
sayjel/coding_train/12_1/node_modules/engine.io/build/server.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/server.js
sayjel/coding_train/12_1/node_modules/engine.io/build/socket.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/socket.js
sayjel/coding_train/12_1/node_modules/engine.io/build/transport.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/transport.js
sayjel/coding_train/12_1/node_modules/engine.io/build/transports-uws/index.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/transports-uws/index.js
sayjel/coding_train/12_1/node_modules/engine.io/build/transports-uws/polling.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/transports-uws/polling.js
sayjel/coding_train/12_1/node_modules/engine.io/build/transports-uws/websocket.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/transports-uws/websocket.js
sayjel/coding_train/12_1/node_modules/engine.io/build/transports/index.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/transports/index.js
sayjel/coding_train/12_1/node_modules/engine.io/build/transports/polling-jsonp.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/transports/polling-jsonp.js
sayjel/coding_train/12_1/node_modules/engine.io/build/transports/polling.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/transports/polling.js
sayjel/coding_train/12_1/node_modules/engine.io/build/transports/websocket.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/transports/websocket.js
sayjel/coding_train/12_1/node_modules/engine.io/build/userver.d.ts
sayjel/coding_train/12_1/node_modules/engine.io/build/userver.js
sayjel/coding_train/12_1/node_modules/engine.io/LICENSE
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/cookie/HISTORY.md
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/cookie/index.js
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/cookie/LICENSE
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/cookie/package.json
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/cookie/README.md
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/debug/LICENSE
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/debug/package.json
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/debug/README.md
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/debug/src/browser.js
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/debug/src/common.js
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/debug/src/index.js
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/debug/src/node.js
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/ms/index.js
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/ms/license.md
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/ms/package.json
sayjel/coding_train/12_1/node_modules/engine.io/node_modules/ms/readme.md
sayjel/coding_train/12_1/node_modules/engine.io/package.json
sayjel/coding_train/12_1/node_modules/engine.io/README.md
sayjel/coding_train/12_1/node_modules/engine.io/wrapper.mjs
sayjel/coding_train/12_1/node_modules/object-assign/index.js
sayjel/coding_train/12_1/node_modules/object-assign/license
sayjel/coding_train/12_1/node_modules/object-assign/package.json
sayjel/coding_train/12_1/node_modules/object-assign/readme.md
sayjel/coding_train/12_1/node_modules/socket.io-adapter/dist/index.d.ts
sayjel/coding_train/12_1/node_modules/socket.io-adapter/dist/index.js
sayjel/coding_train/12_1/node_modules/socket.io-adapter/LICENSE
sayjel/coding_train/12_1/node_modules/socket.io-adapter/package.json
sayjel/coding_train/12_1/node_modules/socket.io-adapter/Readme.md
sayjel/coding_train/12_1/node_modules/socket.io-parser/dist/binary.d.ts
sayjel/coding_train/12_1/node_modules/socket.io-parser/dist/binary.js
sayjel/coding_train/12_1/node_modules/socket.io-parser/dist/index.d.ts
sayjel/coding_train/12_1/node_modules/socket.io-parser/dist/index.js
sayjel/coding_train/12_1/node_modules/socket.io-parser/dist/is-binary.d.ts
sayjel/coding_train/12_1/node_modules/socket.io-parser/dist/is-binary.js
sayjel/coding_train/12_1/node_modules/socket.io-parser/LICENSE
sayjel/coding_train/12_1/node_modules/socket.io-parser/node_modules/debug/LICENSE
sayjel/coding_train/12_1/node_modules/socket.io-parser/node_modules/debug/package.json
sayjel/coding_train/12_1/node_modules/socket.io-parser/node_modules/debug/README.md
sayjel/coding_train/12_1/node_modules/socket.io-parser/node_modules/debug/src/browser.js
sayjel/coding_train/12_1/node_modules/socket.io-parser/node_modules/debug/src/common.js
sayjel/coding_train/12_1/node_modules/socket.io-parser/node_modules/debug/src/index.js
sayjel/coding_train/12_1/node_modules/socket.io-parser/node_modules/debug/src/node.js
sayjel/coding_train/12_1/node_modules/socket.io-parser/node_modules/ms/index.js
sayjel/coding_train/12_1/node_modules/socket.io-parser/node_modules/ms/license.md
sayjel/coding_train/12_1/node_modules/socket.io-parser/node_modules/ms/package.json
sayjel/coding_train/12_1/node_modules/socket.io-parser/node_modules/ms/readme.md
sayjel/coding_train/12_1/node_modules/socket.io-parser/package.json
sayjel/coding_train/12_1/node_modules/socket.io-parser/Readme.md
sayjel/coding_train/12_1/node_modules/socket.io/client-dist/socket.io.esm.min.js
sayjel/coding_train/12_1/node_modules/socket.io/client-dist/socket.io.esm.min.js.map
sayjel/coding_train/12_1/node_modules/socket.io/client-dist/socket.io.js
sayjel/coding_train/12_1/node_modules/socket.io/client-dist/socket.io.js.map
sayjel/coding_train/12_1/node_modules/socket.io/client-dist/socket.io.min.js
sayjel/coding_train/12_1/node_modules/socket.io/client-dist/socket.io.min.js.map
sayjel/coding_train/12_1/node_modules/socket.io/client-dist/socket.io.msgpack.min.js
sayjel/coding_train/12_1/node_modules/socket.io/client-dist/socket.io.msgpack.min.js.map
sayjel/coding_train/12_1/node_modules/socket.io/dist/broadcast-operator.d.ts
sayjel/coding_train/12_1/node_modules/socket.io/dist/broadcast-operator.js
sayjel/coding_train/12_1/node_modules/socket.io/dist/client.d.ts
sayjel/coding_train/12_1/node_modules/socket.io/dist/client.js
sayjel/coding_train/12_1/node_modules/socket.io/dist/index.d.ts
sayjel/coding_train/12_1/node_modules/socket.io/dist/index.js
sayjel/coding_train/12_1/node_modules/socket.io/dist/namespace.d.ts
sayjel/coding_train/12_1/node_modules/socket.io/dist/namespace.js
sayjel/coding_train/12_1/node_modules/socket.io/dist/parent-namespace.d.ts
sayjel/coding_train/12_1/node_modules/socket.io/dist/parent-namespace.js
sayjel/coding_train/12_1/node_modules/socket.io/dist/socket.d.ts
sayjel/coding_train/12_1/node_modules/socket.io/dist/socket.js
sayjel/coding_train/12_1/node_modules/socket.io/dist/typed-events.d.ts
sayjel/coding_train/12_1/node_modules/socket.io/dist/typed-events.js
sayjel/coding_train/12_1/node_modules/socket.io/dist/uws.d.ts
sayjel/coding_train/12_1/node_modules/socket.io/dist/uws.js
sayjel/coding_train/12_1/node_modules/socket.io/LICENSE
sayjel/coding_train/12_1/node_modules/socket.io/node_modules/debug/LICENSE
sayjel/coding_train/12_1/node_modules/socket.io/node_modules/debug/package.json
sayjel/coding_train/12_1/node_modules/socket.io/node_modules/debug/README.md
sayjel/coding_train/12_1/node_modules/socket.io/node_modules/debug/src/browser.js
sayjel/coding_train/12_1/node_modules/socket.io/node_modules/debug/src/common.js
sayjel/coding_train/12_1/node_modules/socket.io/node_modules/debug/src/index.js
sayjel/coding_train/12_1/node_modules/socket.io/node_modules/debug/src/node.js
sayjel/coding_train/12_1/node_modules/socket.io/node_modules/ms/index.js
sayjel/coding_train/12_1/node_modules/socket.io/node_modules/ms/license.md
sayjel/coding_train/12_1/node_modules/socket.io/node_modules/ms/package.json
sayjel/coding_train/12_1/node_modules/socket.io/node_modules/ms/readme.md
sayjel/coding_train/12_1/node_modules/socket.io/package.json
sayjel/coding_train/12_1/node_modules/socket.io/Readme.md
sayjel/coding_train/12_1/node_modules/socket.io/wrapper.mjs
sayjel/coding_train/12_1/node_modules/ws/browser.js
sayjel/coding_train/12_1/node_modules/ws/index.js
sayjel/coding_train/12_1/node_modules/ws/lib/buffer-util.js
sayjel/coding_train/12_1/node_modules/ws/lib/constants.js
sayjel/coding_train/12_1/node_modules/ws/lib/event-target.js
sayjel/coding_train/12_1/node_modules/ws/lib/extension.js
sayjel/coding_train/12_1/node_modules/ws/lib/limiter.js
sayjel/coding_train/12_1/node_modules/ws/lib/permessage-deflate.js
sayjel/coding_train/12_1/node_modules/ws/lib/receiver.js
sayjel/coding_train/12_1/node_modules/ws/lib/sender.js
sayjel/coding_train/12_1/node_modules/ws/lib/stream.js
sayjel/coding_train/12_1/node_modules/ws/lib/subprotocol.js
sayjel/coding_train/12_1/node_modules/ws/lib/validation.js
sayjel/coding_train/12_1/node_modules/ws/lib/websocket-server.js
sayjel/coding_train/12_1/node_modules/ws/lib/websocket.js
sayjel/coding_train/12_1/node_modules/ws/LICENSE
sayjel/coding_train/12_1/node_modules/ws/package.json
sayjel/coding_train/12_1/node_modules/ws/README.md
sayjel/coding_train/12_1/node_modules/ws/wrapper.mjs
sayjel/coding_train/12_1/node_modules/.package-lock.json
